@import "mixins";

.editor-title {
  width: 100%;
  border: 0;
  padding: 0;
}

figcaption,
.caption {
  font-size: 16px;
  margin-top: $grid/2;
  margin-left: $grid;
  margin-right: $grid;

  @include respond-to(small) {
    margin-left: 0;
    margin-right: 0;
  }
}

.button-actions {
  .button {
    margin-right: $grid/4;
    font-size: 16px;
  }
}

.editor {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: $grid*2;
  width: 100%;

  a {
    border-bottom: 1px solid $color-main;
  }

  figure {
    margin: 0;
  }

  .placeholder {
    display: block;
    height: 50px;
    background: $color-main;
  }

  p,
  .paragraph,
  .public-DraftEditorPlaceholder-root {
    margin: 0;
    margin-left: $grid;
    margin-right: $grid;
    margin-bottom: $grid;

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }
  }

  .float-text {
    position: relative;
    z-index: 2;
    float: right;
    font-size: 16px;

    @include respond-to(small) {
      margin-left: $grid*2;
      float: right;
      width: $grid-col-fixed;
    }

    @include respond-to(large) {
      float: left;
      width: 15.5%;
      margin-left: 0;
      margin-right: 0;
      padding-left: $grid;
    }

    @include respond-to(xlarge) {
      width: $grid-col-fixed;
    }
  }

  .public-DraftEditor-content {
    > div > ol,
    > div > ul {
      margin-left: $grid;
      margin-right: $grid;
      padding-left: $grid*2;

      @include respond-to(medium) {
        padding-left: $grid-col-percentage/2;
        max-width: $grid-col-fixed*5;
      }

      @include respond-to(large) {
        margin-right: $grid-col-percentage;
        margin-left: $grid-col-percentage*2;
      }

      @include respond-to(xlarge) {
        margin-left: $grid-col-fixed*2;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    h2,
    h3 {
      margin-left: $grid;
      margin-right: $grid;

      @include respond-to(medium) {
        max-width: $grid-col-fixed*5;
      }

      @include respond-to(large) {
        margin-left: $grid-col-percentage*2;
        margin-right: $grid-col-percentage;
      }

      @include respond-to(xlarge) {
        margin-left: $grid-col-fixed*2;
      }
    }
  }

  > .editor-actions {
    display: flex;

    position: fixed;
    z-index: 11;
    top: $grid; right: $grid;
    font-size: 16px;

    > .button {
      margin-left: $grid;
    }
  }

  > .advanced-settings {
    display: flex;

    position: fixed;
    left: 0; top: 0;

    background: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 111;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      position: absolute;
      left: $grid; top: $grid; right: $grid;
    }

    > div {
      margin-left: $grid;
      margin-right: $grid;
      padding-top: $grid*4;
      width: 100%;

      @include respond-to(medium) {
        max-width: $grid-col-fixed*5;
      }

      @include respond-to(large) {
        margin-left: $grid-col-percentage*2;
        margin-right: $grid-col-percentage;
      }

      @include respond-to(xlarge) {
        margin-left: $grid-col-fixed*2;
      }

      > section {
        margin-bottom: $grid;

        > span {
          display: block;

          margin-bottom: $grid/4;
        }

        > textarea {
          width: 100%;
        }

        > label input {
          margin-right: $grid/4;
        }

        > .cover-image {
          margin-bottom: $grid/2;

          > img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

  > h1 {
    margin-left: $grid;
    margin-right: $grid;

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }
  }

  .embed-component {
    position: relative;
    margin-bottom: $grid;

    @include respond-to(small) {
      margin-left: $grid;
      margin-right: $grid;
    }

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    &.full-width {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }

    &.float {
      padding-left: $grid;
      width: $grid-col-fixed;

      @include respond-to(small) {
        float: right;
        margin-bottom: $grid;
        margin-right: $grid;
      }

      @include respond-to(medium) {
        margin-left: 0;
      }

      @include respond-to(large) {
        float: left;
        width: 15.5%;
      }

      @include respond-to(xlarge) {
        padding-left: $grid;
        width: $grid-col-fixed;
      }

      > figcaption {
        margin-left: 0;
      }
    }

    > div {
      display: flex;

      textarea {
        width: 100%;
        margin-right: $grid/4;
      }
    }

    .embed {
      width: 100%;
    }

    .align-options {
      display: flex;
      justify-content: space-around;

      position: absolute;
      top: 0; left: 0; right: 0;
      background: $color-main;
      opacity: .8;
      font-size: 16px;

      > a {
        color: white;
        text-decoration: none;
        opacity: .5;

        &.active {
          opacity: 1;
        }
      }
    }

    .caption {
      margin-top: $grid/2;
      font-size: 16px;
    }
  }

  .image {
    position: relative;
    margin-bottom: $grid;

    @include respond-to(small) {
      margin-left: $grid;
      margin-right: $grid;
    }

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-right: $grid-col-percentage;
      margin-left: $grid-col-percentage*2;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    > img {
      display: block;

      width: 100%;
    }

    .form {
      margin-top: $grid/2;
    }

    textarea {
      width: 100%;
      font-size: 16px;
    }

    > .align-options {
      display: flex;
      justify-content: space-around;

      position: absolute;
      top: 0; left: 0; right: 0;
      background: $color-main;
      opacity: .8;
      font-size: 16px;

      > a {
        color: white;
        text-decoration: none;
        opacity: .5;

        &.active {
          opacity: 1;
        }
      }
    }

    &.float {
      padding-left: $grid;
      width: $grid-col-fixed;

      @include respond-to(small) {
        float: right;
        margin-bottom: $grid;
        margin-right: $grid;
      }

      @include respond-to(medium) {
        margin-left: 0;
      }

      @include respond-to(large) {
        float: left;
        width: 15.5%;
      }

      @include respond-to(xlarge) {
        padding-left: $grid;
        width: $grid-col-fixed;
      }

      > figcaption {
        margin-left: 0;
      }
    }

    &.full-width {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;

      > .caption {
        margin-left: $grid;
        margin-right: $grid;
      }
    }
  }

  iframe {
    display: block;

    width: 100%;
  }
}



.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  z-index: 9999;
  cursor: default;

  font-size: 16px;
  transition: opacity .3s $base-transition-style, visibility .3s $base-transition-style;
  margin: 0;
  padding: 0 $grid/4;
  background: $color-main;
  visibility: hidden;
  opacity: 0;

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid $color-main;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  &.toolbar-icons {
    list-style: none;

    > .toolbar-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      color: #888;
      transition: color .3s $base-transition-style;
      cursor: pointer;
      padding: $grid/2;
      margin: 0;

      &:hover,
      &.active {
        color: white;
      }

      &:hover i,
      &.active i {
        color: white;
      }

      i {
        display: flex;

        margin: 0;
        padding: 0;
        color: #888;

        &.icon-bold {
          font-size: 14px;
        }
      }
    }
  }

  &.url-input {
    height: 36px;

    input,
    button {
      color: white;
      background: transparent;
    }

    input {
      width: 100%;
    }
  }
}

.add-button-toolbar {
  display: flex;

  background: white;
  position: absolute;
  top: 25px;
  z-index: 999;
  font-size: 21px;
  left: $grid;

  @include respond-to(medium) {
    left: $grid;
    margin-left: -$grid*2 - $grid/2;
  }

  @include respond-to(large) {
    left: $grid-col-percentage*2;
  }

  @include respond-to(xlarge) {
    left: $grid-col-fixed*2;
  }

  i {
    display: flex;

    transition: all .3s $base-transition-style;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }

  .add-button {
    transition: all .3s $base-transition-style;
    border-radius: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 26px;
    margin-right: $grid/2;

    &.open-button {
      transform: rotate(45deg);
    }
  }

  .buttons {
    display: flex;

    .icon-image:before {
      padding-top: 3px;
    }

    i {
      padding: 7px $grid/2 4px $grid/2;
    }
  }
}

.editor-image-actions {
  display: flex;
  align-items: center;

  padding: $grid;
  font-size: 16px;

  span {
    cursor: pointer;
    margin-right: $grid;
    color: #005cff;

    &.active {
      color: $color-main;
    }
  }

  .button {
    margin-right: $grid;
  }
}

.images-editing {
  list-style: none;
  margin-left: $grid;
  margin-right: $grid;
  border: 1px solid $color-main;
  margin-bottom: $grid*2;
  font-size: 16px;

  .placeholder {
    height: 50px;
    background: $color-main;
  }

  li {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    border-bottom: 1px solid $color-main;
    padding: $grid/2;
    width: 100%;

    &:last-child {
      border: 0;
    }

    .image-editing-info {
      width: 70%;

      button {
        position: absolute;
        right: $grid/2; top: $grid/2;
      }

      textarea {
        width: 100%;
      }

      .align-options {
        display: flex;

        a {
          margin-right: $grid;

          &.active {
            color: $color-main;
          }
        }
      }
    }

    .image-editing {
      width: 60px;
      margin-right: $grid/2;
    }
  }
}
