@import "mixins";

.image-gallery {
  position: relative;
  overflow: hidden;
  padding-top: $grid;

  > .image-count {
    font-size: 16px;
    margin-left: $grid;
    padding-bottom: $grid;

    @include respond-to(large) {
      margin-left: 25%;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }
  }

  > ul {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: $grid*3; left: 0;

    transition: left .3s $base-transition-style;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;

    @include respond-to(small) {
      margin-left: $grid;
    }

    @include respond-to(large) {
      margin-left: 25%;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    > li {
      cursor: pointer;
      margin: 0;

      @include respond-to(small) {
        max-width: $grid-col-fixed*3;
        padding-right: $grid-col-fixed/2;
      }

      @include respond-to(medium) {
        max-width: $grid-col-fixed*4;
      }

      @include respond-to(large) {
        max-width: $grid-col-fixed*5;
      }

      @include respond-to(xlarge) {
        max-width: $grid-col-fixed*6;
        padding-right: $grid-col-fixed;
      }

      &.portrait {
        @include respond-to(small) {
          max-width: $grid-col-fixed*1.5;
        }

        @include respond-to(medium) {
          max-width: $grid-col-fixed*2;
        }

        @include respond-to(large) {
          max-width: $grid-col-fixed*2.5;
        }

        @include respond-to(xlarge) {
          max-width: $grid-col-fixed*3.5;
        }

        > img {
          width: 40%;
          margin: auto;

          @include respond-to(small) {
            width: 100%;
          }
        }
      }

      > img {
        display: block;
        width: 100%;
      }

      > figcaption {
        margin-bottom: $grid/2;
      }
    }
  }
}

.editor-image-gallery {
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: $grid;

  > ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;

    @include respond-to(small) {
      margin-left: $grid;
    }

    @include respond-to(large) {
      margin-left: 25%;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    > li {
      display: none;

      margin-left: 0!important;
      margin-right: 0!important;

      &:first-child {
        display: block;

        @include respond-to(medium) {
          width: 100%;
          max-width: $grid-col-fixed*5;
        }
      }

      &.portrait {
        max-width: $grid-col-fixed*2!important;
      }

      > .align-options {
        display: none!important;
      }

      > img,
      > .caption {
        display: block;
        width: 100%;
      }
    }
  }
}
