@import "mixins";

.image-grid,
.editor-image-grid {
  > ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-right: -$grid;
    padding: 0;
    list-style: none;
    list-style-image: none;

    @include respond-to(small) {
      margin-left: $grid;
      margin-right: 0;
      max-width: $grid-col-fixed*5 + $grid;
    }

    @include respond-to(large) {
      margin-left: 25%;
      margin-right: 11.5%;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    > li {
      margin: 0;
      width: 100%;
      padding: 0 $grid $grid 0;

      @include respond-to(large) {
        padding: 0 2% 2% 0;
      }

      @include respond-to(xlarge) {
        padding: 0 $grid $grid 0;
      }

      &.col-1 {
        margin: 0;
        width: 100%;
      }

      &.col-2 {
        margin: 0;
        width: 50%;
      }

      > .align-options {
        display: none!important;
      }

      figcaption {
        display: none;

        margin-bottom: $grid/2;

        @include respond-to(small) {
          display: block;
        }
      }
    }
  }
}
