@import "mixins";

.image-grid,
.editor-image-grid {
  > ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;

    @include respond-to(medium) {
      margin-left: 20%;
      max-width: $grid-col-fixed*6;
    }

    @include respond-to(large) {
      margin-left: 25%;
      margin-right: 12.5%;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    > li {
      width: 100%;
      margin: 0;
      margin-bottom: $grid;

      @include respond-to(small) {
        width: 47%;
        margin-left: 0;
        margin-right: $grid;
      }

      @include respond-to(xlarge) {
        width: $grid-col-fixed*5/2;
      }

      &.col-1 {
        width: 100%;

        @include respond-to(small) {
          width: 50%;
        }

        @include respond-to(medium) {
          width: 25%;
        }

        @include respond-to(xlarge) {
          width: $grid-col-fixed*5/2;
        }
      }

      &.col-2 {
        width: 100%;

        @include respond-to(medium) {
          width: 50%;
        }

        @include respond-to(xlarge) {
          width: $grid-col-fixed*5/2;
        }
      }

      &.col-3 {
        width: 100%;

        @include respond-to(medium) {
          width: 75%;
        }
      }

      &.col-4 {
        width: 100%;
      }

      > img {
        display: block;
        width: 100%;
      }

      > .align-options {
        @include respond-to(small) {
          top: $grid!important;
          left: $grid!important;
          right: $grid!important;
        }
      }
    }
  }
}
