@import "mixins";

.image-grid,
.editor-image-grid {
  > ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;

    @include respond-to(small) {
      margin-left: $grid;
      margin-right: $grid;
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: 25%;
      margin-right: 12.5%;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    > li {
      margin: 0;
      width: 48%;
      margin-bottom: 4%;

      &:nth-child(odd) {
        margin-left: 0;
        margin-right: 2%;

        @include respond-to(medium) {
          margin-right: 1%;
        }
      }

      &:nth-child(even) {
        margin-left: 2%;
        margin-right: 0;

        @include respond-to(medium) {
          margin-left: 1%;
        }
      }

      @include respond-to(medium) {
        width: 49%;
        margin-bottom: 2%;
      }

      > .align-options {
        display: none!important;
      }

      figcaption {
        margin-bottom: $grid/2;
      }
    }
  }
}
