@import "mixins";

.research-header {
  display: flex;
  justify-content: space-between;

  padding: $grid;
  margin-bottom: $grid*2;

  @include respond-to(medium) {
    margin-bottom: $grid*4;
  }

  a {
    border-bottom: 1px solid $color-main;
  }

  > .wrapper {
    display: flex;

    a {
      margin-left: $grid/2;
    }

    .social-links {
      margin-left: $grid*2;
    }
  }
}
