@import "mixins";

.research-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: $grid;
  margin-bottom: $grid;

  @include respond-to(medium) {
    margin-bottom: $grid*4;
  }

  > .wrapper {
    display: flex;

    a {
      margin-right: $grid/2;

      @include respond-to(medium) {
        margin-left: $grid/2;
      }
    }

    .social-links {
      margin-left: $grid;

      @include respond-to(medium) {
        margin-left: $grid*2;
      }
    }
  }
}
