@import "mixins";

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: $font-family-basic;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  margin: 0; padding: 0;
  min-width: 320px;

  &.hidden {
    overflow: hidden;
  }

  h1 {
    @include header-font-size(1.1em,1.4em,1.8em,1.8em,2.2em);
    line-height: 1;
  }

  h2 {
    @include header-font-size(1em,1.2em,1.4em,1.6em,1.8em);
    line-height: 1;
  }

  h3 {
    @include header-font-size(1em,1.1em,1.4em,1.5em,1.6em);
    line-height: 1;
  }

  h4 {
    @include header-font-size(1em,1.1em,1.2em,1.2em,1.3em);
  }

  p {
    margin-top: 0;
    line-height: 1.1;
  }

  blockquote {
    @include header-font-size(1em,1.2em,1.4em,1.6em,1.8em);
    font-family: $font-family-basic;
    font-weight: 400;
    line-height: 1;
    margin-bottom: $grid;
    margin-left: $grid;
    margin-right: $grid;
    padding-left: $grid;

    @include respond-to(medium) {
      padding-left: 0;
      margin-bottom: $grid*2;
      margin-top: $grid*2;
      margin-left: 6.25%;
      max-width: $size-medium;
    }

    @include respond-to(large) {
      margin-right: 12.5%;
      margin-left: 31.25%;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2.5;
    }
  }
}

form {
  fieldset {
    border: 0;
    padding: 0;
  }
}

.button-logout {
  position: fixed;
  top: $grid; right: 120px;

  font-size: 16px;
}

.research-login {
  max-width: 380px;
  margin: auto;
}

.form {
  input[type=text],
  input[type=password] {
    width: 100%;
    margin-bottom: $grid/2;
  }
}

* {
  box-sizing: border-box;
}

a {
  transition: color .3s $base-transition-style;
  text-decoration: none;
  color: $color-main;

  &:hover {
    color: $color-accent;
    border-color: $color-accent;
  }
}

input, textarea {
  outline: none;
  border-radius: 0;
  background: white;
  border: 0;
  border: 1px solid $color-main;
  resize: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: $grid/5 $grid/4;
  margin: 0;

  &:focus::-webkit-input-placeholder {
    color: $color-main;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background: white;
  }
}

input[type=submit],
.button,
button {
  background: white;
  outline: none;
  box-shadow: none;
  transition: background .3s $base-transition-style, color .3s $base-transition-style;
  padding: $grid/5 $grid/4;
  cursor: pointer;
  color: $color-main;
  -webkit-appearance: none;
  border: 1px solid $color-main;
  text-transform: uppercase!important;

  &:hover {
    background: $color-main;
    border-color: $color-main;
    color: white;
    text-decoration: initial;
  }
}

.actions {
  display: inline-block;

  > .button-edit {
    margin-right: $grid/4;
  }

  > .confirm-deleting {
    display: inline-block;
    font-size: 16px;

    button {
      margin-left: $grid/2;
    }
  }
}

.cancel-button {
  border: 0;
  position: relative;
  top: -30px;
  left: 130px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: $grid/2;
  }
}

.research-homepage {
  > h1,
  > h2 {
    margin-bottom: $grid*2;
    margin-left: $grid;
    margin-right: $grid;

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
      margin-bottom: $grid*4;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    > span {
      display: block;

      font-family: $font-family-basic;
      font-weight: 400;
      font-size: 21px;
      margin-bottom: $grid/2;
    }

    a {
      border-bottom: 1px solid $color-main;
      margin-bottom: $grid/2;

      &:hover {
        border-color: $color-accent;
      }
    }
  }
}

.research-posts-list {
  display: flex;
  flex-wrap: wrap;

  .research-post-item {
    margin-bottom: $grid*2;
    margin-left: $grid;
    margin-right: $grid;

    @include respond-to(small) {
      margin-left: 0;
      margin-right: 0;
      width: 50%;
      padding: $grid;
    }

    @include respond-to(medium) {
      width: 33.3%;
    }

    @include respond-to(large) {
      width: 25%;
    }

    > article {
      > a {
        &:hover {
          color: $color-main;
        }

        > .image {
          margin-bottom: $grid/2;

          > img {
            display: block;
            width: 100%;
          }
        }

        > div {
          > .date {
            display: inline-block;

            margin-bottom: $grid/4;
          }
        }

        > p {
          margin: 0;
        }
      }
    }

    .title {
      font-size: 1em;
      transition: color .3s $base-transition-style;
      margin-bottom: $grid/2;

      @include respond-to(xlarge) {
        font-size: 1.2em;
      }
    }

    a:hover .title {
      color: $color-accent;
    }
  }
}

.research-posts-list-featured {
  .research-post-item {
    margin-left: $grid;
    margin-right: $grid;

    .title {
      margin-bottom: $grid/2;
    }

    .image {
      margin-bottom: $grid/2;
    }

    @include respond-to(medium) {
      background: #000;
      position: relative;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 0;

      .wrapper {
        position: absolute;
        left: $grid; bottom: $grid;
        padding-right: $grid;
        z-index: 1;
        margin-bottom: 0;
      }

      .title {
        margin-bottom: 0;
      }

      .title,
      .date {
        color: white;
      }

      .image {
        opacity: .6;
        margin-bottom: 0;
      }

      p {
        display: none;
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }
}
