@import "mixins";

.post-body {
  a {
    border-bottom: 1px solid $color-main;
  }

  .actions {
    position: fixed;
    top: $grid*3; right: $grid/2;
    z-index: 9;

    > button {
      display: block;

      background: transparent;
      border: 0;
      color: $color-main;
    }

    .remove-button {
      font-size: 24px;
      transform: rotate(45deg);
    }
  }

  figure {
    margin: 0;
    margin-bottom: $grid;
  }

  .embed {
    @include respond-to(small) {
      margin-left: $grid;
      margin-right: $grid;
    }

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    &.full-width {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;

      figcaption {
        margin-left: $grid;
      }
    }

    &.float {
      padding-left: $grid;
      width: $grid-col-fixed;

      @include respond-to(small) {
        float: right;
        margin-bottom: $grid;
        margin-right: $grid;
      }

      @include respond-to(medium) {
        margin-left: 0;
      }

      @include respond-to(large) {
        float: left;
        width: 15.5%;
      }

      @include respond-to(xlarge) {
        padding-left: $grid;
        width: $grid-col-fixed;
      }

      > figcaption {
        margin-left: 0;
      }
    }
  }

  p {
    margin-top: 0;
    margin-left: $grid;
    margin-right: $grid;

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    &.float-text {
      font-size: 16px;

      @include respond-to(small) {
        margin-left: $grid*2;
        float: right;
        width: $grid-col-fixed;
      }

      @include respond-to(large) {
        float: left;
        width: 15.5%;
        margin-left: 0;
        margin-right: 0;
        padding-left: $grid;
      }

      @include respond-to(xlarge) {
        width: $grid-col-fixed;
      }
    }
  }

  h2,
  h3 {
    margin-left: $grid;
    margin-right: $grid;

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }
  }

  .title {
    margin-left: $grid;
    margin-right: $grid;

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-left: $grid-col-percentage*2;
      margin-right: $grid-col-percentage;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }
  }

  > div > ol,
  > div > ul {
    margin-left: $grid;
    margin-right: $grid;
    padding-left: $grid*2;

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
      padding-left: $grid-col-percentage/2;
    }

    @include respond-to(large) {
      margin-right: $grid-col-percentage;
      margin-left: $grid-col-percentage*2;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
      padding-left: $grid-col-fixed/2;
    }
  }

  iframe {
    display: block;

    width: 100%;
  }

  figure.image {
    margin-bottom: $grid;

    @include respond-to(small) {
      margin-left: $grid;
      margin-right: $grid;
    }

    @include respond-to(medium) {
      max-width: $grid-col-fixed*5;
    }

    @include respond-to(large) {
      margin-right: $grid-col-percentage;
      margin-left: $grid-col-percentage*2;
    }

    @include respond-to(xlarge) {
      margin-left: $grid-col-fixed*2;
    }

    &.float {
      padding-left: $grid;
      width: $grid-col-fixed;

      @include respond-to(small) {
        float: right;
        margin-bottom: $grid;
        margin-right: $grid;
      }

      @include respond-to(medium) {
        margin-left: 0;
      }

      @include respond-to(large) {
        float: left;
        width: 15.5%;
      }

      @include respond-to(xlarge) {
        padding-left: $grid;
        width: $grid-col-fixed;
      }

      > figcaption {
        margin-left: 0;
      }
    }

    &.full-width {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;

      > figcaption {
        margin-left: $grid;
        margin-right: $grid;
      }
    }
  }
}
