$grid: 20px;
$grid-col-percentage: 12.5%;
$grid-col-fixed: 160px;
$color-accent: #005CFF;
$color-main: #111;
$base-transition-style: cubic-bezier(0.660, 0.000, 0.070, 1.000);
$transition-time: 300ms;

$size-xxlarge:         1500px;
$size-xlarge:         1300px;
$size-large:         1024px;
$size-medium:         768px;
$size-small:         600px;

$font-family-basic: "Times New Roman", Georgia, Serif;
